[submodule "k8s-tensorflow"]
	path = k8s-tensorflow
	branch = zhanghui
	url = https://github.com/k8sp/k8s-tensorflow.git
[submodule "TensorFlow-Tutorials"]
	path = TensorFlow-Tutorials
	url = https://github.com/nlintz/TensorFlow-Tutorials.git
[submodule "TensorFlow-Examples"]
	path = TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples.git
[submodule "deep_recommend_system"]
	path = deep_recommend_system
	url = https://github.com/tobegit3hub/deep_recommend_system.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "cheatsheets-ai"]
	path = cheatsheets-ai
	url = https://github.com/kailashahirwar/cheatsheets-ai.git
[submodule "GAN/KerasGAN"]
	path = GAN/KerasGAN
	url = https://github.com/osh/KerasGAN.git
[submodule "GAN/ganhacks"]
	path = GAN/ganhacks
	url = https://github.com/soumith/ganhacks.git
[submodule "GAN/ezgan"]
	path = GAN/ezgan
	url = https://github.com/jonbruner/ezgan.git
[submodule "GAN/generative-adversarial-networks"]
	path = GAN/generative-adversarial-networks
	url = https://github.com/jonbruner/generative-adversarial-networks.git
[submodule "GAN/dcgan_code"]
	path = GAN/dcgan_code
	url = https://github.com/Newmu/dcgan_code.git
[submodule "Morvan/Reinforcement-learning-with-tensorflow"]
	path = Morvan/Reinforcement-learning-with-tensorflow
	url = https://github.com/MorvanZhou/Reinforcement-learning-with-tensorflow.git
[submodule "Morvan/PyTorch-Tutorial"]
	path = Morvan/PyTorch-Tutorial
	url = https://github.com/MorvanZhou/PyTorch-Tutorial.git
[submodule "Morvan/tutorials"]
	path = Morvan/tutorials
	url = https://github.com/MorvanZhou/tutorials.git
[submodule "Morvan/Tensorflow-Tutorial"]
	path = Morvan/Tensorflow-Tutorial
	url = https://github.com/MorvanZhou/Tensorflow-Tutorial.git
[submodule "GAN/DCGAN-tensorflow"]
	path = GAN/DCGAN-tensorflow
	url = https://github.com/carpedm20/DCGAN-tensorflow.git
[submodule "mnist/tensorflow-mnist-tutorial"]
	path = mnist/tensorflow-mnist-tutorial
	url = https://github.com/martin-gorner/tensorflow-mnist-tutorial.git
[submodule "dnn/neural-networks-and-deep-learning"]
	path = dnn/neural-networks-and-deep-learning
	url = https://github.com/mnielsen/neural-networks-and-deep-learning.git
[submodule "k8s-ml"]
	path = k8s-ml
	url = https://github.com/wangkuiyi/k8s-ml.git
[submodule "tf-tutorials/tensorflow_examples"]
	path = tf-tutorials/tensorflow_examples
	url = https://github.com/tobegit3hub/tensorflow_examples.git
[submodule "tf-tutorials/tensorflow-workshop"]
	path = tf-tutorials/tensorflow-workshop
	url = https://github.com/amygdala/tensorflow-workshop.git
[submodule "tf-tutorials/TensorFlow-Tutorials"]
	path = tf-tutorials/TensorFlow-Tutorials
	url = https://github.com/nlintz/TensorFlow-Tutorials.git
