[submodule "k8s-tensorflow"]
	path = k8s-tensorflow
	branch = zhanghui
	url = https://github.com/k8sp/k8s-tensorflow.git
[submodule "TensorFlow-Tutorials"]
	path = TensorFlow-Tutorials
	url = https://github.com/nlintz/TensorFlow-Tutorials.git
[submodule "TensorFlow-Examples"]
	path = TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples.git
[submodule "deep_recommend_system"]
	path = deep_recommend_system
	url = https://github.com/tobegit3hub/deep_recommend_system.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "tensorflow-workshop"]
	path = tensorflow-workshop
	url = https://github.com/amygdala/tensorflow-workshop.git
[submodule "cheatsheets-ai"]
	path = cheatsheets-ai
	url = https://github.com/kailashahirwar/cheatsheets-ai.git
[submodule "Tensorflow-Tutorial"]
	path = Tensorflow-Tutorial
	url = https://github.com/MorvanZhou/Tensorflow-Tutorial.git
[submodule "PyTorch-Tutorial"]
	path = PyTorch-Tutorial
	url = https://github.com/MorvanZhou/PyTorch-Tutorial.git
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/MorvanZhou/tutorials.git
[submodule "Reinforcement-learning-with-tensorflow"]
	path = Reinforcement-learning-with-tensorflow
	url = https://github.com/MorvanZhou/Reinforcement-learning-with-tensorflow.git
